* { box-sizing: border-box;}
body {
  margin: -2px;
}

@font-face {
  font-family:'Nunito_Sans';
  src: url('../Fonts/Nunito_Sans/NunitoSans-VariableFont_YTLC\,opsz\,wdth\,wght.ttf');
}

@font-face {
  font-family:'Open_Sans';
  src: url('../Fonts/Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf');
}
/* NAVIGATION BAR */
header {
font-family: "Nunito_Sans";
display: flex;
justify-content: space-around;
background-color: rgba(0, 0, 0, 0.5);
border: 2px solid rgba(192, 192, 192 , 0.3);
text-transform: uppercase;
}
#car{
  color: red;
}
.logo  {
  font-size: 35px;
  color: white
}
.logo::before {
  content:url(../images/Icon\ Logo\ Normal.svg);
  vertical-align: middle;
  padding: 5px;
}
.menu {
  display: flex;
  /* gap: 20%; */
  align-items: center;

}
a {
  font-size: 20px;
  color: white;
  text-decoration: none;
  padding: 35px;
}
a:hover{
  background-color: rgba(255, 255, 255, 0.1);
}
.container {

min-width: 100%;
min-height: 1088px;
background-image: url(../images/Image.jpg);
background-repeat: no-repeat;
background-size: cover
;
}
