* { box-sizing: border-box;}
body {
  margin: -2px;
}

@font-face {
  font-family:'Nunito_Sans';
  src: url('../../../../Fonts/Nunito_Sans/NunitoSans-VariableFont_YTLC\,opsz\,wdth\,wght.ttf');
}

@font-face {
  font-family:'Open_Sans';
  src: url('../../../../Fonts/Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf');
}

header {
font-family: "Nunito_Sans";
display: flex;
justify-content: space-around;
background-color: rgba(0, 0, 0, 0.2);
border: 2px solid silver;
padding: 15px;
text-transform: uppercase;
}
.logo  {
  font-size: 35px;
}
.logo::before {
  content:url(../images/Icon\ Logo\ Normal.svg);
  position: relative;
}
.menu {
  display: flex;
  gap: 20%;
  align-items: center;

}
a {
  font-size: 20px;
  color: white;
  text-decoration: none;
}
