* { box-sizing: border-box;}
body {
  margin: -2px;
}

@font-face {
  font-family:'Nunito_Sans';
  src: url('../Fonts/Nunito_Sans/NunitoSans-VariableFont_YTLC\,opsz\,wdth\,wght.ttf');
}

@font-face {
  font-family:'Open_Sans';
  src: url('../Fonts/Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf');
}

.main {
min-height: 100vh;
background-image: url(../images/Image.jpg);
background-repeat: no-repeat;
background-size: cover;
}

/* HEADER */
.page-header {
font-family: "Nunito_Sans";
display: flex;
justify-content: space-around;
background-color: rgba(0, 0, 0, 0.5);
border-bottom: 2px solid rgba(192, 192, 192 , 0.3);
text-transform: uppercase;
}
#car{
  color: red;
}
.logo {
  display: flex;
  align-items: center;
  font-size: 35px;
  color: white
}
.logo::before {
  content:url(../images/Icon\ Logo\ Normal.svg);
  position: relative;
  bottom: -10%;
}
.page-nav {
  display: flex;
  align-items: center;
}
a {
  font-size: 20px;
  color: white;
  text-decoration: none;
  padding: 35px;
}
a:hover{
  background-color: rgba(255, 255, 255, 0.1);
}

/* BANNER */

.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  max-width: 930px;
  font-family: "Nunito_Sans";
  color: white;
}

.banner h1 {
  text-transform: uppercase;
}
